<.header>
  New Track
  <:subtitle>Use this form to manage track records in your database.</:subtitle>
</.header>

<.track_form changeset={@changeset} action={~p"/tracks"} />

<.back navigate={~p"/tracks"}>Back to tracks</.back>
